{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="js-menu-wrapper menu-drawer-container">
    <summary
      class="js-menu-triger header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span class="header__menu-text">
        {{ 'general.menu' | t }}
        {% comment %} {% render 'icon-hamburger' %}
        {% render 'icon-close' %} {% endcomment %}
      </span>
      <span class="header__menu-icons">
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %} 
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <span class="js-menu-close header__menu-close-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23" fill="none">
          <path d="M2.41503 22.9018L0.601562 21.0883L10.239 11.4509L0.601562 1.81347L2.41503 0L12.0525 9.63743L21.6899 0L23.5034 1.81347L13.8659 11.4509L23.5034 21.0883L21.6899 22.9018L12.0525 13.2644L2.41503 22.9018Z" fill="#1D1D1B"/>
        </svg>
      </span>
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- if shop.customer_accounts_enabled -%}
                <li class="menu-drawer__account-li">
                  <a
                    href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                    class="menu-drawer__account menu-drawer__menu-item btn btn__primary"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                      <path d="M8.95392 8.98307C7.81019 8.98307 6.83114 8.57588 6.01677 7.76151C5.20219 6.94693 4.79491 5.96778 4.79491 4.82405C4.79491 3.68033 5.20219 2.70127 6.01677 1.8869C6.83114 1.07233 7.81019 0.665039 8.95392 0.665039C10.0977 0.665039 11.0767 1.07233 11.8911 1.8869C12.7057 2.70127 13.1129 3.68033 13.1129 4.82405C13.1129 5.96778 12.7057 6.94693 11.8911 7.76151C11.0767 8.57588 10.0977 8.98307 8.95392 8.98307ZM0.041748 18.0325V15.3906C0.041748 14.8088 0.199791 14.2699 0.515876 13.774C0.831961 13.278 1.2544 12.8968 1.78319 12.6302C2.95761 12.0545 4.14244 11.6227 5.33766 11.3347C6.53288 11.0467 7.7383 10.9028 8.95392 10.9028C10.1695 10.9028 11.375 11.0467 12.5702 11.3347C13.7654 11.6227 14.9502 12.0545 16.1247 12.6302C16.6534 12.8968 17.0759 13.278 17.392 13.774C17.7081 14.2699 17.8661 14.8088 17.8661 15.3906V18.0325H0.041748ZM1.82418 16.2501H16.0837V15.3906C16.0837 15.15 16.014 14.9272 15.8745 14.7222C15.7351 14.5174 15.5459 14.3503 15.3068 14.2208C14.2829 13.7165 13.239 13.3345 12.1751 13.0746C11.111 12.815 10.0372 12.6852 8.95392 12.6852C7.8706 12.6852 6.79688 12.815 5.73277 13.0746C4.66885 13.3345 3.62494 13.7165 2.60103 14.2208C2.36198 14.3503 2.17275 14.5174 2.03332 14.7222C1.8939 14.9272 1.82418 15.15 1.82418 15.3906V16.2501ZM8.95392 7.20063C9.60748 7.20063 10.167 6.96793 10.6324 6.50251C11.0978 6.0371 11.3305 5.47761 11.3305 4.82405C11.3305 4.1705 11.0978 3.61101 10.6324 3.14559C10.167 2.68018 9.60748 2.44747 8.95392 2.44747C8.30036 2.44747 7.74088 2.68018 7.27546 3.14559C6.81005 3.61101 6.57734 4.1705 6.57734 4.82405C6.57734 5.47761 6.81005 6.0371 7.27546 6.50251C7.74088 6.96793 8.30036 7.20063 8.95392 7.20063Z" fill="#F6F4ED"/>
                    </svg>
                    {% if section.settings.mobile_login != blank %}
                      {{ section.settings.mobile_login }}
                      {% else %}
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    {% endif %}
                  </a>
                </li>
              {%- endif -%}
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        {% render 'icon-arrow' %}
                        {% render 'icon-caret' %}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            {% render 'icon-arrow' %}
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      {% render 'icon-arrow' %}
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        {% render 'icon-arrow' %}
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          {% if section.settings.bottom_menu %}
            <ul class="js-anchor-links header__bottom-nav">
              {% for link in section.settings.bottom_menu.links %}
                <li class="header__bottom-nav-link">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          
          <div class="menu-drawer__utility-links">
            {% comment %} {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    {%- render 'icon-twitter' -%}
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    {%- render 'icon-facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    {%- render 'icon-pinterest' -%}
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    {%- render 'icon-instagram' -%}
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    {%- render 'icon-tiktok' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    {%- render 'icon-tumblr' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    {%- render 'icon-snapchat' -%}
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    {%- render 'icon-youtube' -%}
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    {%- render 'icon-vimeo' -%}
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>

<script>

// Находим элементы
const menuClose = document.querySelector('.js-menu-close');
const menuTrigger = document.querySelector('.js-menu-triger');
const menuDrawer = document.getElementById('menu-drawer');
const menuWrapper = document.querySelector('.js-menu-wrapper');

// Проверяем, что элементы существуют на странице
if (menuClose && menuTrigger) {
  // Добавляем обработчик события на элемент js-menu-close
  menuClose.addEventListener('click', function() {
    // Имитируем клик на элементе js-menu-triger
    menuTrigger.click();
  });
}

// Проверяем, что элементы menuDrawer и menuWrapper существуют на странице
if (menuDrawer && menuWrapper && menuTrigger) {
  // Добавляем обработчик события на документ
  document.addEventListener('click', function(event) {
    // Проверяем, что menuWrapper имеет класс menu-opening
    if (menuWrapper.classList.contains('menu-opening')) {
      // Проверяем, что клик был вне menuDrawer
      if (!menuDrawer.contains(event.target) && !menuTrigger.contains(event.target)) {
        // Имитируем клик на элементе js-menu-triger
        menuTrigger.click();
      }
    }
  });
}


</script>
