<div class="custom-recharge">
  <div class="custom-recharge__wrapper">
    <input class="custom-recharge__input" id="recharge_subscribe" type="radio" name="recharge_input" checked>
    <label class="custom-recharge__one-time" for="recharge_subscribe">
      <span>{{ block.settings.subscribe_subtitle }}</span>
      <span class="custom-recharge__title">{{ block.settings.subscribe_title }}</span>
      <span
        class="custom-recharge__price-wrapper h3"
      >
        {% for allocation in product.selected_or_first_available_variant.selling_plan_allocations %}
          <span
            class="custom-recharge__price custom-recharge__plan-price h3"
            id="price_for_plan_{{ allocation.selling_plan.id }}"
          >
            {{ allocation.per_delivery_price | money }}
          </span>
        {% endfor %}
      </span>
      <span>{{ block.settings.subscribe_bottom_text }}</span>
      <div class="custom-recharge__plans d-none">
        {% for allocation in product.selected_or_first_available_variant.selling_plan_allocations %}
          <input
            class="js-test"
            data-selling-plan-toggle
            name="recharge_plan"
            id="recharge_plan_{{ allocation.selling_plan.id }}"
            type="radio"
            {% if forloop.first %}
              checked
            {% endif %}
            value="{{ allocation.selling_plan.id }}"
          >
          <label class="p2 color-very-dark-blue font-garamond" for="recharge_plan_{{ allocation.selling_plan.id }}">
            {{- allocation.selling_plan.name -}}
          </label>
        {% endfor %}
      </div>
    </label>
    <input class="custom-recharge__input" id="recharge_one_time" type="radio" name="recharge_input" data-selling-plan-toggle>
    <label class="custom-recharge__one-time" for="recharge_one_time">
      <span>{{ block.settings.one_time_subtitle }}</span>
      <span class="custom-recharge__title">{{ block.settings.one_time_title }}</span>
      <span
        class="custom-recharge__price-wrapper h3"
        data-product-variant-id="{{ product.selected_or_first_available_variant.id }}"
      >
        <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
          {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}
        </div>
      </span>
      <span>{{ block.settings.one_time_bottom_text }}</span>
    </label>
  </div>
</div>
