{{ 'faq-home.out.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="faq-home section-{{ section.id }}-padding">
  <div class="page-width">
    <div id="faq-section" class="faq-home__title">
      <h2>{{ section.settings.title }}</h2>
    </div>
    <div class="faq-home__tabs d-flex">
      <div class="faq-home__questions">
        <!-- Tab links -->
        {% for block in section.blocks %}
          {% if block.settings.title %}
            <div class="js-tablinks-{{ section.index }} faq-home__tablinks d-flex align-items-center {% if forloop.first %}active{% endif %}" onclick="openTab_{{ section.index }}(event, '{{block.id}}')">
              <p class="text-26px">{{ block.settings.title }}</p>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16" fill="none">
                <path d="M23.2913 8.94441C23.6819 8.55389 23.6819 7.92072 23.2913 7.5302L16.9274 1.16624C16.5368 0.775711 15.9037 0.775711 15.5132 1.16624C15.1226 1.55676 15.1226 2.18992 15.5132 2.58045L21.17 8.2373L15.5132 13.8942C15.1226 14.2847 15.1226 14.9178 15.5132 15.3084C15.9037 15.6989 16.5369 15.6989 16.9274 15.3084L23.2913 8.94441ZM0.431885 9.2373L22.5842 9.2373L22.5842 7.2373L0.431885 7.2373L0.431885 9.2373Z" fill="#1D1D1B"/>
              </svg>
            </div>
          {% endif %}
        {% endfor %}
        {% if section.settings.button_label != blank %}
          <div class="faq-home__button page-width d-flex justify-content-center">
            <a class="btn btn__primary" href="{{ section.settings.button_url }}">{{ section.settings.button_label }}
              {% render 'icon-download' %}
            </a>
          </div>
        {% endif %}
      </div>
      <div class="faq-home__answers">
        <!-- Tab content -->
        {% for block in section.blocks %}
          {% if block.settings.text %}
            <div id="{{block.id}}" class="js-tabcontent-{{ section.index }} faq-home__tabcontent {% if forloop.first %}active{% endif %}">
              <div>{{ block.settings.text }}</div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="faq-home__accordion">
      {% for block in section.blocks %}
        {% if block.settings.title %}
          <div id="faq-question-{{ forloop.index }}" class="js-accordion-{{ section.index }} faq-home__accordion-question d-flex justify-content-between {% if forloop.first %}active{% endif %}">
            <p class="text-26px">{{ block.settings.title }}</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="21" viewBox="0 0 15 21" fill="none">
              <path d="M6.84349 20.6212C7.23402 21.0117 7.86718 21.0117 8.25771 20.6212L14.6217 14.2572C15.0122 13.8667 15.0122 13.2335 14.6217 12.843C14.2311 12.4525 13.598 12.4525 13.2075 12.843L7.5506 18.4998L1.89374 12.843C1.50322 12.4525 0.870055 12.4525 0.479531 12.843C0.0890065 13.2335 0.0890065 13.8667 0.479531 14.2572L6.84349 20.6212ZM6.5506 0.744141L6.5506 19.9141L8.5506 19.9141L8.5506 0.744141L6.5506 0.744141Z" fill="#1D1D1B"/>
            </svg>
          </div>
          <div class="faq-home__accordion-answer" {% if forloop.first %}style="max-height: {{ block.settings.text | size }}px;"{% endif %}>
            <div>{{ block.settings.text }}</div>
          </div>
        {% endif %}
      {% endfor %}
      {% if section.settings.button_label != blank %}
        <div class="faq-home__button page-width d-flex justify-content-center">
          <a class="btn btn__primary" href="{{ section.settings.button_url }}">{{ section.settings.button_label }}
            {% render 'icon-download' %}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<script>
  //TABS
  function openTab_{{ section.index }}(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("js-tabcontent-{{ section.index }}");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("js-tablinks-{{ section.index }}");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(tabName).style.display = "flex";
  evt.currentTarget.className += " active";
}


//ACCORDION
  var acc = document.getElementsByClassName("js-accordion-{{ section.index }}");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }

  // Set the first accordion as open on page load
  if (acc.length > 0) {
    var firstPanel = acc[0].nextElementSibling;
    firstPanel.style.maxHeight = firstPanel.scrollHeight + "px";
  }

  // Recalculate maxHeight on window resize
  window.addEventListener('resize', function() {
    for (i = 0; i < acc.length; i++) {
      var panel = acc[i].nextElementSibling;
      if (acc[i].classList.contains('active')) {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    }
});
</script>

{% schema %}
{
  "name": "FAQ Home",
  "class": "shopify-section--faq-home",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Desktop padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Desktop padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Mobile padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Mobile padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "FAQ Item",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Home",
      "category": "Content"
    }
  ]
}

{% endschema %}