{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{{ 'footer.out.css' | asset_url | stylesheet_tag }}


{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top_mobile }}px;
        padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }

    @media screen and (min-width: 750px){
      .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
      <div class="footer__content-top page-width">
          <div class="footer__navi">
            <div class="footer__blocks-wrapper d-flex">
              <div class="footer__shop-button">
                <a class="btn btn__orange" href="{{ section.settings.shop_url }}">{{ section.settings.shop_label }}</a>
              </div>
              {%- for block in section.blocks -%}
                <div
                  class="footer-block {% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {%- if block.settings.heading != blank -%}
                    <p class="footer-block__heading">{{- block.settings.heading -}}</p>
                  {%- endif -%}
  
                  {%- case block.type -%}
                    {%- when '@app' -%}
                      {% render block %}
                    {%- when 'text' -%}
                      <div class="footer-block__details-content rte">
                        {{ block.settings.subtext }}
                      </div>
                    {%- when 'link_list' -%}
                      {%- if block.settings.menu != blank -%}
                        <ul class="footer-block__details-content list-unstyled">
                          {%- for link in block.settings.menu.links -%}
                            <li>
                              <a
                                href="{{ link.url }}"
                                class="link text-20px link--text list-menu__item list-menu__item--link {% if link.active %} list-menu__item--active{% endif %}"
                              >
                                {{ link.title }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    {%- when 'brand_information' -%}
                      <div class="footer-block__brand-info">
                        {%- if settings.brand_image != blank -%}
                          {%- assign brand_image_height = settings.brand_image_width
                            | divided_by: settings.brand_image.aspect_ratio
                          -%}
                          <div
                            class="footer-block__image-wrapper"
                            style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                          >
                            {{
                              settings.brand_image
                              | image_url: width: 1100
                              | image_tag:
                                loading: 'lazy',
                                widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                                height: brand_image_height,
                                width: settings.brand_image_width
                            }}
                          </div>
                        {%- endif -%}
                        {%- if settings.brand_headline != blank -%}
                          <h2 class="title-small-upper footer-block__heading rte">{{ settings.brand_headline }}</h2>
                        {%- endif -%}
                        {%- if settings.brand_description != blank -%}
                          <div class="rte">{{ settings.brand_description }}</div>
                        {%- endif -%}
                        {%- if block.settings.show_social and has_social_icons -%}
                          {%- render 'social-icons' -%}
                        {%- endif -%}
                      </div>
  
                    {%- when 'image' -%}
                      <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                        {%- if block.settings.image != blank -%}
                          {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                          <div
                            class="footer-block__image-wrapper"
                            style="max-width: min(100%, {{ block.settings.image_width }}px);"
                          >
                            <img
                              srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                              src="{{ block.settings.image | image_url: width: 760 }}"
                              alt="{{ block.settings.image.alt | escape }}"
                              loading="lazy"
                              width="{{ block.settings.image.width }}"
                              height="{{ block.settings.image.height }}"
                            >
                          </div>
                        {%- else -%}
                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                        {%- endif -%}
                      </div>
                  {%- endcase -%}
                </div>
              {%- endfor -%}
           
            </div>
            {%- if section.settings.payment_enable -%}
              <div class="footer__payment">
                <p class="footer__payment-title text-20px">{{ section.settings.payment_title }}</p>
                <ul class="list list-payment" role="list">
                  {%- for type in shop.enabled_payment_types -%}
                    <li class="list-payment__item">
                      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            {%- endif -%}
            {%- if section.settings.newsletter_enable -%}
              <div class="footer__newsletter-wrapper">
                <div>
                  <div class="footer-block__newsletter">
                    {%- if section.settings.newsletter_heading != blank -%}
                      <p class="footer-block__custom-heading">{{ section.settings.newsletter_heading }}</p>
                    {%- endif -%}
                    {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                      <input type="hidden" name="contact[tags]" value="newsletter, website signup">
                      
                      <div class="newsletter-form__field-wrapper">
                        <div class="field footer__form-input-wrapper">
                          <input
                                  id="NewsletterForm--{{ section.id }}"
                                  type="email"
                                  name="contact[email]"
                                  class="text-20px field__input footer__form-input"
                                  value="{{ form.email }}"
                                  aria-required="true"
                                  autocorrect="off"
                                  autocapitalize="off"
                                  autocomplete="email"
                                  {% if form.errors %}
                                    autofocus
                                    aria-invalid="true"
                                    aria-describedby="ContactFooter-error"
                                  {% elsif form.posted_successfully? %}
                                    aria-describedby="ContactFooter-success"
                                  {% endif %}
                                  placeholder="{{ 'newsletter.label' | t }}"
                                  required
                          >
                          <label class="field__label" for="NewsletterForm--{{ section.id }}">
                            {{ 'newsletter.label' | t }}
                          </label>
                          <button
                                  type="submit"
                                  class="newsletter-form__button field__button p-small uppercase"
                                  name="commit"
                                  id="Subscribe"
                                  aria-label="{{ 'newsletter.button_label' | t }}"
                          >
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                              <path d="M12.7487 4.23539C12.944 4.04013 12.944 3.72355 12.7487 3.52828L9.56676 0.346303C9.3715 0.151041 9.05492 0.151041 8.85965 0.346303C8.66439 0.541565 8.66439 0.858147 8.85965 1.05341L11.6881 3.88184L8.85965 6.71026C8.66439 6.90553 8.66439 7.22211 8.85965 7.41737C9.05492 7.61263 9.3715 7.61263 9.56676 7.41737L12.7487 4.23539ZM0.758057 4.38184L12.3952 4.38184L12.3952 3.38184L0.758057 3.38184L0.758057 4.38184Z" fill="white"/>
                            </svg>
                          </button>
                        </div>
                        {%- if form.errors -%}
                          <small class="newsletter-form__message form__message" id="ContactFooter-error">
                            {%- render 'icon-error' -%}
                            {{- form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email -}}
                          </small>
                        {%- endif -%}
                      </div>
                      {%- if form.posted_successfully? -%}
                        <p
                                class="newsletter-form__message newsletter-form__message--success form__message"
                                id="ContactFooter-success"
                                tabindex="-1"
                                autofocus
                        >
                          {% render 'icon-success' -%}
                          {{- 'newsletter.success' | t }}
                        </p>
                      {%- endif -%}
                    {%- endform -%}
                  </div>
                </div>
              </div>
            {%- endif -%}
          </div>
          
          
          <div class="footer__logo-block">
            <div class="footer__logo-wrapper">
              <p>{{ section.settings.logo_title }}</p>
              {{ section.settings.logo_img| image_url: width: 370 | image_tag: loading: 'lazy' }}
            </div>
            {%- if section.settings.show_social and has_social_icons -%}
              <div class="footer__social">
                <p class="footer__social-title text-20px">{{ section.settings.social_title }}</p>
                  {%- render 'social-icons' -%}
              </div>
            {%- endif -%}
            <div class="footer__logo-contact text-20px">
              <p class="footer__logo-contact-title">{{ section.settings.contact_info_title }}</p>
              {{ section.settings.contact_info }}
            </div>
            <div class="footer__useful-links d-flex">
              {%- if section.settings.page_label_1 != blank -%}
                <a class="text-20px" href="{{section.settings.page_link_1 }}">{{section.settings.page_label_1 }}</a>
              {%- endif -%}
              {%- if section.settings.page_label_2 != blank -%}
                <a class="text-20px" href="{{section.settings.page_link_2 }}">{{section.settings.page_label_2 }}</a>
              {%- endif -%}
            </div>
          </div>
         
      </div>

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select
                  class="localization-selector link"
                  name="country_code"
                  aria-labelledby="FooterCountryLabelNoScript"
                >
                  {%- for country in localization.available_countries -%}
                    <option
                      value="{{ country.iso_code }}"
                      {%- if country.iso_code == localization.country.iso_code %}
                        selected
                      {% endif %}
                    >
                      {{ country.name }} ({{ country.currency.iso_code }}
                      {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">
                  {{ 'localization.language_label' | t }}
                </h2>
                <select
                  class="localization-selector link"
                  name="locale_code"
                  aria-labelledby="FooterLanguageLabelNoScript"
                >
                  {%- for language in localization.available_languages -%}
                    <option
                      value="{{ language.iso_code }}"
                      lang="{{ language.iso_code }}"
                      {%- if language.iso_code == localization.language.iso_code %}
                        selected
                      {% endif %}
                    >
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
    </div>
    <div class="footer__content-bottom-wrapper page-width d-flex">
      <div class="footer__content-bottom-text">
        <p>{{ section.settings.bottom_text }}</p>
      </div>
      <div class="footer__content-bottom-company">
        <p>
          &copy; {{ 'now' | date: '%Y' }} {{ section.settings.bottom_company_info }}
        </p>
      </div>
    </div>
  </div>
</footer>

{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer">
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "text",
      "id": "shop_label",
      "label": "Button Label",
      "default": "Shop"
    },
    {
      "type": "url",
      "id": "shop_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "text",
      "id": "payment_title",
      "label": "Payment Title",
      "default": "Paiements sécurisés"
    },
    {
      "type": "header",
      "content": "Logo Block"
    },
    {
      "type": "text",
      "id": "logo_title",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "logo_img",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "social_title",
      "label": "Social Title",
      "default": "Réseaux Sociaux:"
    },
    {
      "type": "text",
      "id": "contact_info_title",
      "label": "Contact Info Title",
      "default": "Contactez nous:"
    },
    {
      "type": "richtext",
      "id": "contact_info",
      "label": "Contact Info"
    },
    {
      "type": "header",
      "content": "Useful Links"
    },
    {
      "type": "text",
      "id": "page_label_1",
      "label": "Link Label 1",
      "default": "Cookies Policy"
    },
    {
      "type": "url",
      "id": "page_link_1",
      "label": "Link 1"
    },
    {
      "type": "text",
      "id": "page_label_2",
      "label": "Link Label 2",
      "default": "Privacy Policy"
    },
    {
      "type": "url",
      "id": "page_link_2",
      "label": "Link 2"
    },
    {
      "type": "header",
      "content": "Footer Bottom Info"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Text"
    },
    {
      "type": "text",
      "id": "bottom_company_info",
      "label": "Company Info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Desktop padding top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Desktop padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 75
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Mobile padding top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Mobile padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 100
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
