{{ 'home-hero-v2.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (max-width: 450px) {
    .home-hero-v2__wrapper {
        min-height: 600px;
        height: 94svh;
    }
  }
{%- endstyle -%}

<section class="home-hero-v2">
  {% if section.settings.video != blank %}
    {{ section.settings.video | video_tag: image_size: '1920x', id: 'js-home-hero-video', loop: true, mute: false, autoplay: true }}
    {{ section.settings.video_mobile | video_tag: image_size: '450x', id: 'js-home-hero-video--mobile', loop: true, mute: false, autoplay: true }}
  {% else %}
    {% if section.settings.bg != blank %}
      <picture>
        {%- if section.settings.bg_mobile != blank -%}
          <source
            media="(max-width: 767px)"
            srcset="
              {%- if section.settings.bg_mobile.width >= 375 -%}{{ section.settings.bg_mobile | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if section.settings.bg_mobile.width >= 550 -%}{{ section.settings.bg_mobile | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if section.settings.bg_mobile.width >= 750 -%}{{ section.settings.bg_mobile | image_url: width: 750 }} 750w,{%- endif -%}
            "
          >
        {%- endif -%}
        {{ section.settings.bg | image_url: width: 3400 | image_tag: width: '100%', height: '85vh', class: '', sizes: '100vw', widths: '375, 550, 750, 1100, 1500, 1780', alt: 'Banner image' }}
      </picture>
    {% endif %}
  {% endif %}
  <div class="home-hero-v2__wrapper section-{{ section.id }}-padding page-width">
    {% if section.settings.title != blank %}
      <h1>→ {{ section.settings.title }}</h1>
    {% endif %}

    <div>
      <!-- TrustBox widget - Micro Star -->
      <div class="trustpilot-widget" data-locale="fr-FR" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="6659801df278f22f2d471a1d" data-style-height="24px" data-style-width="100%">
        <a href="https://fr.trustpilot.com/review/drinknuoro.com" target="_blank" rel="noopener">Trustpilot</a>
      </div>
      <!-- End TrustBox widget -->
      {% if section.settings.text != blank %}
        <p class="text-26px">{{ section.settings.text }}</p>
      {% endif %}
      {% if section.settings.button_label != blank %}
        <div class="home-hero-v2__button d-flex">
          {% comment %} <a class="btn btn__primary" href="{{ section.settings.button_url }}">{{ section.settings.button_label }}</a> {% endcomment %}
          <a class="btn__animated" href="{{ section.settings.button_url }}">
            {{- section.settings.button_label }}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M6.5625 11.2109L5.53906 10.2031L9.08594 6.64062H0.164062V5.17188H9.08594L5.53906 1.625L6.5625 0.601562L11.8516 5.90625L6.5625 11.2109Z" fill="#1D1D1B"/>
            </svg>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<style>
  @media (min-width: 451px) {
    #js-home-hero-video {
      display: block;
    }
    #js-home-hero-video--mobile {
      display: none;
    }
  }
  @media (max-width: 450px) {
    #js-home-hero-video {
      display: none;
    }
    #js-home-hero-video--mobile {
      display: block;
    }
  }
</style>

{% schema %}
{
  "name": "Home Hero",
  "class": "shopify-section--home-hero-v2",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "Video for mobile"
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Background Image Desktop"
    },
    {
      "type": "image_picker",
      "id": "bg_mobile",
      "label": "Background Image Mobile"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Desktop padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Desktop padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Mobile padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Mobile padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Home Hero",
      "category": "Content"
    }
  ]
}
{% endschema %}
