{{ 'home-hero.out.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="home-hero">
  {{ section.settings.video | video_tag: image_size: '1920x', id:'js-home-hero-video', loop: true, mute: false, autoplay: true }}
  <div class="home-hero__wrapper section-{{ section.id }}-padding page-width">
    {% if section.settings.title != blank %}
      <h1>{{ section.settings.title }}</h1>
    {% endif %}

    <div>
      {% if section.settings.text != blank %}
        <p class="text-30px">{{ section.settings.text }}</p>
      {% endif %}
      {% if section.settings.button_label != blank %}
        <div class="home-hero__button d-flex justify-content-center">
          <a class="btn btn__primary" href="{{ section.settings.button_url }}">{{ section.settings.button_label }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Home Hero",
  "class": "shopify-section--home-hero",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "text",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Desktop padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Desktop padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Mobile padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Mobile padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Home Hero",
      "category": "Content"
    }
  ]
}

{% endschema %}