{{ 'page-title.out.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="page-title section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="page-title__wrapper d-flex justify-content-center">
      {% if section.settings.title != blank %}
        <h1>{{ section.settings.title }}</h1>
        {% else %}
        {{ page.title }}
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="page-title__text">{{ section.settings.text }}</div>
        {% else %}
        <div class="page-title__text">{{ page.content }}</div>
      {% endif %}
      
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Page Title Test",
  "class": "shopify-section--page-title",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Subtitle"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Desktop padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Desktop padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Mobile padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Mobile padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Page Title Test",
      "category": "Content"
    }
  ]
}

{% endschema %}