{{ 'reviews.out.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{%- endstyle -%}

<div class="reviews__wrapper section-{{ section.id }}-padding">
  <h2>{{ section.settings.title }}</h2>
  <p class="subtitle">{{ section.settings.sub_title }}</p>

  {% comment %}
    <div class="trustpilot-widget" data-locale="fr-FR" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="6659801df278f22f2d471a1d" data-style-height="20px" data-style-width="420px">
      <a href="https://fr.trustpilot.com/review/drinknuoro.com" target="_blank" rel="noopener">Trustpilot</a>
    </div>
  {% endcomment %}

  {% comment %}
    <!-- TrustBox widget - Micro Combo -->
    <div class="trustpilot-widget" data-locale="fr-FR" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="6659801df278f22f2d471a1d" data-style-height="20px" data-style-width="100%">
      <a href="https://fr.trustpilot.com/review/drinknuoro.com" target="_blank" rel="noopener">Trustpilot</a>
    </div>
    <!-- End TrustBox widget -->
  {% endcomment %}

  <!-- TrustBox widget - Micro Star -->
  <div class="trustpilot-widget" data-locale="fr-FR" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="6659801df278f22f2d471a1d" data-style-height="24px" data-style-width="100%">
    <a href="https://fr.trustpilot.com/review/drinknuoro.com" target="_blank" rel="noopener">Trustpilot</a>
  </div>
  <!-- End TrustBox widget -->

  {% comment %}
    <a href="{{ section.settings.logo_trustpilot_url }}" target="_blank">
      {{ section.settings.image | image_url: width: 142 | image_tag: class: 'reviews__image', loading: 'lazy' }}
    </a>
  {% endcomment %}

  <div class="swiper swip__reviews">
    <div class="swiper-wrapper reviews__container">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'reviews' %}
            <article class="swiper-slide">
              <div class="card__inner">
                <div class="review__image-wrapper">
                  {%- if block.settings.review_image != blank -%}
                    {{ block.settings.review_image | image_url: width: 400 | image_tag: class: 'review__image', loading: 'lazy' }}
                  {% else %}
                    <img
                      class="default-image"
                      src="https://cdn.shopify.com/s/files/1/0811/8229/4348/files/default-img.png?v=1730878391"
                      alt=""
                      width=""
                      height=""
                    >
                  {%- endif -%}
                </div>
                <div class="card-count" data-count="{{ block.settings.count_reviews }}"></div>
                <h4>{{ block.settings.card_title }}</h4>
                <p class="card-content">{{ block.settings.card_subtitle }}</p>
                <p class="card-name">
                  <span>{{ block.settings.card_name }}</span>
                  <a href="{{ section.settings.logo_trustpilot_url }}" target="_blank">
                    {{ section.settings.logo_trustpilot | image_url: width: 70 | image_tag: class: 'reviews__image', loading: 'lazy' }}
                  </a>
                </p>
              </div>
            </article>
        {% endcase %}
      {% endfor %}
    </div>
    <div class="swiper-button-prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="24" viewBox="0 0 40 24" fill="none">
        <path d="M11.8623 23.2959L14.1011 21.0571L6.30811 13.2983H39.3599V10.0854H6.30811L14.1011 2.32666L11.8623 0.0878906L0.258301 11.6919L11.8623 23.2959Z" fill="black"/>
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="24" viewBox="0 0 40 24" fill="none">
        <path d="M28.1377 23.2959L25.8989 21.0571L33.6919 13.2983H0.640137V10.0854H33.6919L25.8989 2.32666L28.1377 0.0878906L39.7417 11.6919L28.1377 23.2959Z" fill="black"/>
      </svg>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const swiperReviews = new Swiper('.swip__reviews', {
      slidesPerView: 1.32,
      spaceBetween: 15.5,
      loop: true,
      grabCursor: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        450: {
          slidesPerView: 2,
          spaceBetween: 16,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 16,
        },
        1922: {
          slidesPerView: 4,
          spaceBetween: 24,
        },
      },
    });

    const arrayCards = document.querySelectorAll('.reviews__container article');
    arrayCards.forEach((item) => {
      let countNumber = item.querySelector('.card-count').dataset.count;
      star = `
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 21 22" fill="none">
              <path d="M9.78755 1.3838C10.0154 0.654018 11.0483 0.654017 11.2762 1.3838L13.1658 7.43548C13.2674 7.76108 13.5689 7.98281 13.9101 7.98281H20.0889C20.8367 7.98281 21.1557 8.93354 20.5592 9.38453L15.5077 13.2036C15.2452 13.4021 15.1355 13.7439 15.2336 14.058L17.1504 20.1968C17.3764 20.9206 16.5408 21.5085 15.9359 21.0511L11.0021 17.3211C10.7239 17.1107 10.3398 17.1107 10.0616 17.3211L5.12785 21.0511C4.52293 21.5085 3.68728 20.9206 3.91331 20.1968L5.83009 14.058C5.92817 13.7439 5.81851 13.4021 5.55604 13.2036L0.504548 9.38453C-0.0919741 8.93354 0.226972 7.98281 0.974791 7.98281H7.15365C7.49476 7.98281 7.79628 7.76108 7.89795 7.43548L9.78755 1.3838Z" fill="#FFA72D"/>
            </svg>
        `;
      item.querySelector('.card-count').innerHTML = `
            <p class="slider-content--stars stars-filled--${countNumber}">${star.repeat(countNumber)}</p>
        `;
    });
  });
</script>

{% schema %}
{
  "name": "Reviews",
  "tag": "section",
  "class": "page__reviews",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Top data - title, sub title, image."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title for reviews"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub title for reviews"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image of reviews"
    },
    {
      "type": "image_picker",
      "id": "logo_trustpilot",
      "label": "Image for logo TrustPilot"
    },
    {
      "type": "url",
      "id": "logo_trustpilot_url",
      "label": "Link for logo TrustPilot"
    }
  ],
  "blocks": [
    {
      "name": "Reviews card",
      "type": "reviews",
      "settings": [
        {
          "type": "image_picker",
          "id": "review_image",
          "label": "Image for item review"
        },
        {
          "type": "number",
          "id": "count_reviews",
          "label": "Counter of reviews"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Title for card reviews"
        },
        {
          "type": "text",
          "id": "card_subtitle",
          "label": "Sub title for card reviews"
        },
        {
          "type": "text",
          "id": "card_name",
          "label": "Name for card reviews"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews",
      "category": "Content"
    }
  ],
  "enabled_on": {
    "templates": ["*"]
  }
}
{% endschema %}
