{{ 'text-img-tiles.out.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="text-img-tiles section-{{ section.id }}-padding">
  <div class="w-100">
    <div class="text-img-tiles__header page-width">
      {% if section.settings.title != blank %}
        <h2>{{ section.settings.title }}</h2>
      {% endif %}
      {% if section.settings.image != blank %}
        <div class="text-img-tiles__header-img">
          {{ section.settings.image | image_url: width: 1700 | image_tag:
            width: section.settings.image.width,
            height: section.settings.image.height,
            class: 'text-img-tiles__item-img',
            loading: 'lazy',
            sizes: '100vw',
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' 
          }}
        </div>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <p class="text-26px">{{ section.settings.subtitle }}</p>
      {% endif %}
    </div>
    <div class="text-img-tiles__wrapper d-flex flex-wrap">
      {% for block in section.blocks %}
        {% if block.settings.title %}
          <div class="text-img-tiles__item">
            {% if block.settings.image != blank %}
              {{ block.settings.image | image_url: width: 3840 | image_tag:
                width: block.settings.image.width,
                height: block.settings.image.height,
                class: 'text-img-tiles__item-img',
                loading: 'lazy',
                sizes: '100vw',
                widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840' 
              }}
            {% endif %}
            <div class="text-img-tiles__item-content">
              <svg xmlns="http://www.w3.org/2000/svg" width="88" height="74" viewBox="0 0 88 74" fill="none">
                <path d="M87.5317 23.5481C87.5637 23.2628 87.495 22.9896 87.3913 22.7318C87.2158 22.2923 87.019 22.2664 86.7184 22.6387C86.4087 23.0232 86.25 23.484 86.2271 23.9631C86.1493 25.5957 85.1804 26.6608 83.978 27.5824C83.595 27.8753 83.4013 27.7029 83.3509 27.2803C83.3341 27.1429 83.3387 27.001 83.3372 26.8622C83.3158 24.5765 84.2084 22.6173 85.4672 20.7711C86.8893 18.6853 87.582 16.3782 87.4035 13.8377C87.3318 12.8124 86.9564 11.9091 86.2637 11.1447C85.8853 10.7266 85.7403 10.7586 85.5695 11.3186C85.336 12.083 85.2582 12.878 85.1254 13.6607C84.9057 14.9531 84.7318 16.2592 84.1626 17.4616C84.0284 17.7454 83.8819 18.0765 83.4928 18.0521C83.1464 18.0307 83.0091 17.7194 82.8886 17.4524C82.5437 16.6849 82.3713 15.8671 82.2508 15.0401C82.0814 13.8805 81.9365 12.7178 81.7824 11.5566C81.7732 11.4864 81.7656 11.4178 81.7564 11.3476C81.5611 9.81567 81.1766 8.37682 79.843 7.39114C79.6691 7.26297 79.5272 7.0875 79.3868 6.92118C79.3151 6.83574 79.1869 6.68316 79.277 6.60992C79.7484 6.22999 79.341 5.91872 79.1869 5.63491C78.9504 5.20158 78.63 4.81249 78.3462 4.40357C77.655 3.40721 76.9272 2.42916 76.8036 1.15815C76.7822 0.944531 76.6968 0.704977 76.4191 0.694296C76.1689 0.683615 76.0193 0.865189 75.9339 1.07575C75.6775 1.70744 75.5188 2.36202 75.528 3.05017C75.3876 3.32634 75.4258 3.62083 75.438 3.91226C75.438 4.43256 75.438 4.9544 75.438 5.4747C75.4258 5.77682 75.3708 6.08351 75.5234 6.37189C75.5372 7.45827 76.0254 8.35241 76.6739 9.17635C77.3514 10.0384 78.1753 10.7647 78.9169 11.5673C79.9834 12.7224 80.9966 13.9171 81.5565 15.42C81.5565 15.7786 81.5535 16.1372 81.5535 16.4957C81.5108 16.6483 81.4741 16.8024 81.4253 16.952C81.1781 17.7164 80.7295 17.8262 80.1711 17.2495C80.0078 17.0801 79.8522 16.8909 79.7408 16.6849C79.4143 16.0777 79.1228 15.4505 78.7948 14.8448C78.6025 14.4923 78.4408 13.8835 78.0334 13.9827C77.6062 14.0865 77.6901 14.6998 77.6809 15.1271C77.5253 16.2333 77.5055 17.3395 77.6855 18.4442C77.6992 19.7396 78.2272 20.8398 79.0298 21.8117C79.6645 22.5807 80.3588 23.2979 81.0072 24.0547C82.3622 25.6339 82.4934 27.4252 81.8602 29.3264C81.7549 29.6422 81.5916 29.984 81.1995 30.0298C80.8119 30.0756 80.5846 29.7902 80.3832 29.5141C80.0292 29.0273 79.7973 28.478 79.6065 27.9104C79.3197 27.0514 79.0359 26.1908 78.7231 25.2494C78.3111 25.9574 77.9312 26.5845 77.5757 27.2253C76.7059 28.7954 76.3245 30.486 76.3901 32.2743C76.4099 32.8114 76.4389 33.408 76.8616 33.7757C77.4231 34.2655 77.6016 34.8819 77.716 35.5563C77.716 36.2338 77.716 36.9128 77.716 37.5903C77.5299 38.6812 77.3849 39.7829 76.86 40.7838C76.4435 41.5772 75.8103 42.125 74.9757 42.4256C74.521 42.5904 74.2494 42.3874 74.2066 41.9068C74.1517 41.2904 74.3882 40.738 74.611 40.1857C74.8185 39.6715 75.0733 39.1741 75.0794 38.6003C75.1954 38.3715 75.2198 38.1426 75.0764 37.9137C74.8689 37.4422 74.5179 37.5475 74.2265 37.7611C72.0857 39.3282 70.4058 41.2873 69.6673 43.8629C69.2325 45.3781 69.0906 46.9786 68.8296 48.5426C68.5184 50.4133 67.9813 51.7179 65.688 52.0505C65.0532 52.1436 64.5894 51.7713 64.6733 51.1304C64.7191 50.7795 64.8243 50.4301 64.9418 50.0944C65.3508 48.9271 65.9733 47.8621 66.5317 46.765C67.0719 45.7031 67.5983 44.6334 67.9508 43.4891C67.9965 43.3426 68.0698 43.1565 67.9401 43.0359C67.8073 42.9108 67.6441 43.0222 67.4976 43.0771C66.8751 43.3151 66.338 43.6951 65.8222 44.0994C64.2674 45.3231 62.6592 46.5484 61.7559 48.3427C60.5917 50.6544 59.9219 53.1582 59.3741 55.688C59.1529 56.2846 59.0628 56.9102 59.0293 57.5389C58.9911 58.2514 58.6478 58.4757 57.9414 58.1996C57.7994 57.8273 57.6911 57.4504 57.6759 57.0445C57.6316 55.8818 57.7674 54.7375 57.981 53.5961C58.184 52.5159 58.5456 51.4859 58.9103 50.456C58.9545 50.3339 59.0735 50.1905 58.924 50.0791C58.8248 50.0044 58.6951 50.0639 58.5853 50.1157C58.4235 50.192 58.2587 50.2622 58.0985 50.3416C56.7253 51.0282 55.4756 51.9666 54.7539 53.2833C53.6462 55.3081 52.1081 58.7672 48.379 59.8917C47.8145 60.0626 47.4498 60.116 46.87 60.3143C46.4504 60.4578 42.8235 60.6378 41.6089 60.4059C41.2183 60.3311 38.2323 59.4797 37.3275 58.5734C32.7912 54.0371 34.2499 53.0316 31.7109 50.6315C31.4088 50.3461 31.0792 50.073 30.6749 49.9677C30.4262 49.9037 30.0935 49.7953 29.8967 50.0318C29.6861 50.2851 29.6953 50.6208 29.8403 50.929C29.8982 51.0526 29.9501 51.2037 30.0523 51.2815C30.9984 51.9971 31.1906 53.0743 31.3905 54.1256C31.5202 54.8031 31.6773 55.5004 31.4729 56.1992C31.3249 56.7042 31.0884 56.7729 30.7222 56.396C30.24 55.9001 29.973 55.2684 29.767 54.6261C29.471 53.6999 29.2635 52.7432 28.9476 51.8247C27.7621 48.3778 25.3131 45.9396 22.4827 43.8156C22.4034 43.7561 22.3134 43.7073 22.2203 43.6737C21.9884 43.5898 21.7549 43.3579 21.5032 43.5577C21.2392 43.7683 21.3551 44.0796 21.4223 44.3359C21.6695 45.2667 22.1348 46.1028 22.614 46.9283C23.2243 47.9811 23.7354 49.0767 24.062 50.2531C24.2374 50.8878 24.4083 51.5271 24.3534 52.1924C24.3 52.8363 24.0177 53.024 23.3891 52.85C22.4614 52.5937 21.6939 52.0718 21.0378 51.3822C20.7692 51.0999 20.5861 50.7978 20.7723 50.366C20.8898 50.0944 20.8013 49.7862 20.5632 49.6061C19.9483 49.1392 19.8446 48.4541 19.6798 47.7751C19.5135 47.09 19.6798 46.3805 19.4723 45.7046C19.4616 45.5978 19.4509 45.491 19.4402 45.3842C19.3746 45.1293 19.3075 44.873 19.2419 44.6182C18.4866 41.7176 16.7639 39.5494 14.225 38.0037C14.0831 37.9183 13.9152 37.7764 13.7321 37.8786C13.5139 38.0007 13.5734 38.2341 13.5979 38.4218C13.6986 39.1924 13.9183 39.937 14.1273 40.6831C14.4035 41.6718 14.6812 42.659 14.9986 43.7897C13.8725 42.9718 12.8761 42.2501 11.8828 41.5238C11.094 40.9486 10.714 40.1796 10.8315 39.1985C11.0925 37.0226 11.4953 34.8773 12.246 32.8114C12.3741 32.4559 12.4275 32.1141 12.3513 31.7631C11.9484 29.923 11.2481 28.2019 10.2288 26.615C10.1113 26.4319 9.96792 26.2625 9.81992 26.1023C9.54069 25.8002 9.32097 25.8628 9.13482 26.2183C8.86475 26.7355 8.87848 27.2864 8.89679 27.8418C8.79456 28.0432 8.78846 28.2583 8.8083 28.478C8.76405 28.6672 8.69538 28.8473 8.65724 29.0426C8.52144 29.7292 8.27273 30.3746 7.80735 30.9178C7.54644 31.223 7.25653 31.3069 6.93916 31.0109C6.35172 30.4616 5.86651 29.8299 5.59949 29.0655C5.50031 28.7817 5.41181 28.4414 5.77038 28.211C6.21134 27.9287 6.37766 27.4786 6.40054 26.9888C6.45853 25.7834 7.01545 24.8222 7.8455 24.0043C8.76252 23.101 9.47966 22.0589 10.0579 20.9191C10.3997 20.2462 10.682 19.5474 10.7018 18.7723C10.8239 18.4625 10.8407 18.1421 10.8071 17.8156C10.8071 17.6142 10.8071 17.4128 10.8071 17.2113C10.8392 16.8848 10.83 16.5629 10.7003 16.2531C10.6973 16.2135 10.6927 16.1723 10.6896 16.1326C10.7293 15.9541 10.6576 15.803 10.5752 15.6535C10.5325 15.4154 10.3372 15.2446 10.2685 15.0355C10.1449 14.6571 9.91604 14.5473 9.60325 14.7105C9.28893 14.8738 8.99902 15.0965 9.18975 15.5558C9.45067 16.1814 9.17297 16.8131 8.41921 17.399C7.75853 17.9117 7.44421 17.9193 6.7881 17.4402C6.33646 16.7978 6.33188 16.1066 6.56686 15.3895C6.90101 14.3672 7.50372 13.5097 8.18576 12.6964C9.06158 11.6528 10.1495 10.8258 11.0757 9.83398C11.8996 8.95206 12.5099 7.97705 12.5222 6.7213C12.6824 5.80886 12.6778 4.89489 12.5222 3.98245C12.5283 3.29735 12.3879 2.6382 12.1544 1.99735C12.0568 1.73033 11.9393 1.44348 11.5853 1.49688C11.2649 1.54571 11.2115 1.83714 11.2038 2.09653C11.1886 2.57106 10.9994 2.98761 10.8087 3.40111C10.148 4.83538 9.25231 6.12928 8.37954 7.43691C7.07801 9.38997 6.27543 11.5231 6.01604 13.8667C5.84514 15.4063 5.70172 16.9581 5.09902 18.4122C4.82132 18.7433 4.61686 18.551 4.43681 18.3069C4.1408 17.9041 3.94244 17.4478 3.7685 16.9825C3.14138 15.3041 2.63481 13.5951 2.55089 11.7886C2.54326 11.6284 2.53258 11.4453 2.35864 11.3949C2.21368 11.3522 2.1023 11.4895 2.0138 11.5917C1.55453 12.1181 1.19443 12.701 0.996076 13.3769C0.866381 13.4563 0.881639 13.5997 0.843494 13.7218C0.733634 13.7813 0.759572 13.8835 0.765675 13.9781C0.536801 14.471 0.416262 14.9882 0.42084 15.5329C0.42084 15.655 0.42084 15.7755 0.42084 15.8976C0.408633 16.2363 0.484925 16.5552 0.640559 16.8558C1.07542 18.5098 1.92835 19.9594 2.83927 21.3814C3.54573 22.4861 4.23235 23.6015 4.76791 24.8023C4.92355 25.1517 5.0273 25.5027 4.99068 25.8948C4.88998 26.9842 4.22014 27.3031 3.3138 26.6821C2.65465 26.232 2.2442 25.5713 1.82002 24.9198C1.4645 24.3766 1.14866 23.7999 0.573422 23.4321C0.408633 23.3268 0.292671 23.1865 0.16145 23.4474C0.117201 23.5267 0.0729507 23.6076 0.0287018 23.6869C0.0287018 23.8868 0.0287018 24.0867 0.0287018 24.2881C0.069899 24.4163 0.109571 24.5445 0.150768 24.6741C0.428468 26.9614 1.21274 28.9983 3.05289 30.5043C3.56251 30.9209 4.08282 31.3252 4.6138 31.7128C6.24796 32.9044 7.44116 34.4516 8.27578 36.2796C8.5901 36.9677 8.8266 37.6864 8.80372 38.4661C8.77778 39.3099 8.48177 39.5036 7.7097 39.1268C7.0063 38.7834 6.40054 38.2921 5.80395 37.7901C5.13258 37.2241 4.49326 36.6213 3.76087 36.1316C3.60066 36.0247 3.40077 35.8157 3.23293 35.9378C3.03915 36.0797 3.18106 36.336 3.23598 36.5435C3.36873 37.0471 3.55946 37.5277 3.82343 37.9732C5.75817 41.2431 8.56111 43.4464 12.101 44.7784C14.4599 45.6664 16.4344 47.1282 18.0487 49.0644C18.4317 49.5252 18.7673 50.0227 18.8757 50.6299C18.9733 51.1762 18.8085 51.3776 18.2654 51.3867C17.5864 51.399 16.9852 51.1243 16.384 50.8603C14.7895 50.1585 13.4285 49.0583 11.9133 48.2207C11.5441 48.0162 11.184 47.7843 10.6469 47.6943C11.7867 50.1005 13.1126 52.1893 15.4609 53.4298C17.7374 54.6337 20.1925 55.0487 22.7284 55.0853C24.2359 55.1067 25.7144 55.241 27.1212 55.8162C27.9757 56.1656 28.7874 56.5898 29.3657 57.3451C29.5854 57.6319 29.8189 57.9753 29.6922 58.3231C29.5656 58.6695 29.1414 58.5642 28.8393 58.6192C28.644 58.6542 28.4411 58.6649 28.2427 58.6588C26.5796 58.5993 24.9347 58.401 23.3341 57.9249C23.1571 57.873 22.9679 57.7616 22.8474 57.9081C22.7406 58.0393 22.8306 58.2285 22.9008 58.4025C23.0213 58.7077 23.2319 58.9381 23.4272 59.1807C24.7547 60.8209 26.3095 62.0935 28.5006 62.3788C29.886 62.5588 31.2776 62.6504 32.6691 62.7587C34.0805 62.8686 38.5191 61.3626 43.1287 63.1417C43.7283 63.3736 43.8 63.308 43.3697 63.7856C42.6221 64.6172 40.9788 64.6355 38.7343 65.728C37.2298 66.4588 35.8703 67.0341 34.3384 67.8168C32.2007 68.9093 29.5915 70.3009 29.9333 72.5789C29.9699 72.8215 29.9043 73.1038 30.1622 73.3312C30.7985 72.4935 31.3142 72.1425 32.4799 71.3323C34.6191 69.8447 37.1901 68.386 39.4896 67.1577C40.3166 66.7167 42.027 65.7539 43.15 65.2428C44.0167 64.8491 45.2541 64.7621 46.0201 65.316C46.5068 65.6685 48.3226 66.4924 48.8535 66.7869C50.5594 67.7329 56.1561 68.241 58.3091 71.4788C58.5319 71.8145 59.4412 72.5652 59.5969 72.9375C59.6625 71.9503 59.574 71.5658 59.3024 70.7418C59.0323 69.686 58.0894 68.6865 57.4073 68.3112C55.8083 67.4308 53.3059 66.7503 52.1463 66.4192C50.1322 65.8439 47.6939 65.0581 46.2108 64.0343C45.6035 63.6147 45.8355 63.5262 46.4977 63.2256C49.6317 61.8005 55.5306 62.8594 56.9419 62.7541C58.4128 62.6443 59.8883 62.5787 61.3516 62.3742C64.0218 62.0019 65.3325 60.0199 66.5699 57.96C66.695 57.751 66.8659 57.4748 66.6599 57.2413C66.4219 56.9697 66.1152 57.1727 65.8924 57.2856C64.9968 57.7403 64.0508 58.0302 63.0712 58.2224C63.062 58.3994 63.0132 58.4895 62.943 58.5337C63.0132 58.4895 63.0635 58.3994 63.0712 58.2224C61.8932 58.3842 60.7107 58.3048 59.4016 58.3262C60.5948 57.1559 61.5698 55.923 63.0712 55.3188C64.3086 54.9267 65.572 54.6871 66.8674 54.5772C68.5947 54.4292 70.3112 54.2126 71.9957 53.7655C75.3388 52.879 76.9867 50.3477 78.2394 47.4196C78.2852 47.3128 78.3447 47.1694 78.244 47.0839C78.1158 46.9756 77.98 47.0793 77.8732 47.1633C77.5268 47.4318 77.1744 47.6927 76.8463 47.9842C75.6455 49.0538 74.318 49.9281 72.8258 50.5292C71.8096 50.9382 70.7598 51.2555 69.6612 51.3623C69.4842 51.3791 69.2706 51.3974 69.1821 51.2052C69.1028 51.0343 69.2462 50.9046 69.3713 50.8054C70.3829 49.9967 71.1153 48.9454 71.8645 47.9124C73.1843 46.0921 74.8978 44.8379 77.0447 44.1543C78.5064 43.689 79.9315 43.1229 81.2102 42.2486C83.5096 40.6755 84.3412 38.2143 85.1392 35.7364C85.191 35.5762 85.3253 35.361 85.1437 35.2405C84.9729 35.1276 84.8142 35.3214 84.6799 35.4251C83.8514 36.0553 83.1464 36.8228 82.3896 37.5323C81.5871 38.2845 80.7524 38.991 79.7851 39.5311C79.4585 39.7142 79.1259 39.7981 78.7551 39.7523C78.6254 39.7356 78.5049 39.6928 78.4637 39.5814C78.4194 39.4594 78.514 39.3449 78.6102 39.2778C79.3929 38.7285 79.7576 37.9015 79.9971 37.0364C80.3511 35.7593 81.0484 34.6866 81.8113 33.6353C83.0015 31.9935 84.5212 30.6523 85.8624 29.1494C86.7337 28.1729 87.4249 27.1124 87.5332 25.7605C87.6888 25.022 87.6995 24.2851 87.5286 23.5481H87.5317ZM6.11674 16.3081C6.09385 16.2608 6.07707 16.2119 6.06334 16.1631C6.07554 16.2119 6.09385 16.2608 6.11674 16.3081ZM5.87108 16.987C5.86651 17.0328 5.86345 17.0801 5.85735 17.1244C5.86193 17.0786 5.86651 17.0328 5.87108 16.987ZM62.8515 58.5703C62.8179 58.5749 62.7813 58.5749 62.7431 58.5734C62.7813 58.5764 62.8179 58.5764 62.8515 58.5703Z" fill="#F6F4ED"/>
              </svg>
              {% if block.settings.title != blank %}
                <h4>{{ block.settings.title }}</h4>
              {% endif %}
              {% if block.settings.text != blank %}
                <p class="text-15px">{{ block.settings.text }}</p>
              {% endif %} 
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if section.settings.button_label != blank %}
      <div class="text-img-tiles__button page-width d-flex justify-content-center">
        <a class="btn btn__primary" href="{{ section.settings.button_url }}">{{ section.settings.button_label }}</a>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Text and Img Tiles",
  "class": "shopify-section--text-img-tiles",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Heading Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Heading Image"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Desktop padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Desktop padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Mobile padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Mobile padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "List Item",
      "type": "text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text and Img Tiles",
      "category": "Content"
    }
  ]
}

{% endschema %}