{{ 'video-reviews.out.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  #video-reviews-{{ section.id }} {
    background-color: {{ section.settings.bg_color }} !important;
  }
{%- endstyle -%}

<section id="video-reviews-{{ section.id }}" class="video-reviews section-{{ section.id }}-padding">
  <div class="video-reviews__wrapper">
    <div class="js-video-reviews-slider-init-{{ section.index }}">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <a href="
            {%- for src in block.settings.video.sources -%}
              {%- if src.format contains "mp4" -%}
                  {{ src.url }}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
            " class="video-reviews__item js-glightbox-reviews swiper-slide d-flex flex-column align-items-center">
            <div class="video-reviews__preview">
              {{ block.settings.video | video_tag: image_size: '700x', class:'js-video-reviews-video', loop: true, autoplay: false, muted: true }}
              <svg xmlns="http://www.w3.org/2000/svg" width="33" height="37" viewBox="0 0 33 37" fill="none">
                <path d="M32.0312 18.3231L0.484522 36.5367L0.484524 0.109631L32.0312 18.3231Z" fill="white"/>
              </svg>
            </div>
            <h4>{{ block.settings.title }}</h4>
            <p>{{ block.settings.text }}</p>
          </a>

        {% endfor %}
      </div>
    </div>
    <div class="js-pagination-reviews video-reviews__pagination"></div>
  </div>
</section>

<script type="text/javascript">
  const lightboxReviews = GLightbox({
    selector: '.js-glightbox-reviews',
    touchNavigation: true,
    loop: true,
    autoplayVideos: true,
    plyr: {
      config: {
        ratio: '4:3',
        muted: true,
      }
    }
  });
</script>

<script>
  var videoRewiesSlider = new Swiper('.js-video-reviews-slider-init-{{ section.index }}', {
    slidesPerView: 1.7,
    freeMode: false,
    centeredSlides: true,
    loop: true,
    spaceBetween: 33,
    autoplay: false,
    pagination: {
      el: ".js-pagination-reviews",
      type: "fraction",
    },
    breakpoints: {
        480: {
          slidesPerView: 2,
          spaceBetween: 33,

        },
        575: {
            slidesPerView: 2.6,
            spaceBetween: 33,

        },
        991: {
            slidesPerView: 2.8,
            spaceBetween: 40,
        },
        1260: {
            slidesPerView: 3.8,
            spaceBetween: 60,
        }
    },
});
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const videos = document.querySelectorAll('.js-video-reviews-video');

    function handleVideoPlayback() {
        if (window.innerWidth < 991) {
            videos.forEach(video => {
                video.play();
            });
        } else {
            videos.forEach(video => {
                video.pause();
                video.currentTime = 0;
            });
        }
    }

    if (videos.length > 0) {
        videos.forEach(video => {
            video.addEventListener('mouseover', function () {
                if (window.innerWidth >= 991) {
                    video.play();
                }
            });

            video.addEventListener('mouseout', function () {
                if (window.innerWidth >= 991) {
                    video.pause();
                    video.currentTime = 0;
                }
            });
        });

    
        handleVideoPlayback();

        window.addEventListener('resize', handleVideoPlayback);
    }
});
</script>


{% schema %}
{
  "name": "Video Reviews",
  "class": "shopify-section--video-reviews",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Desktop padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Desktop padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Mobile padding top",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Mobile padding bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Review Item",
      "type": "text",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Reviews",
      "category": "Content"
    }
  ]
}

{% endschema %}